*{
    margin: 0;
    padding: 0;
}
.gold{
    background-color: gold;
    padding: 20px 20px 20px 20px;
    margin: 10px 10px 10px 10px;
}
.teal{
    background-color:darkturquoise;
    padding: 20px 20px 20px 20px;
    margin: 10px 10px 10px 10px;
}
.silver{
    background-color: silver;
    z-index: 20;
    padding: 20px 20px 20px 20px;
    margin: 10px 10px 10px 10px;
}
.yellow{
    background-color: yellow;
    padding: 20px 20px 20px 20px;
    margin: 10px 10px 10px 10px;
}
.coral{
    background-color: coral;
    padding: 20px 20px 20px 20px;
    margin: 10px 10px 10px 10px;
}
p{
    background-color: peachpuff;
}
.grid{
    margin-top: 200px;
    display: grid;
    grid-template-columns: repeat(2, 3fr);
}
.pic img{
    width: 200px;
    height: 200px;
    margin: 10px 10px 10px 10px;
    border: solid peru;
    border-radius: 50%;
}
.pic{
    display: grid;
    grid-template-columns: repeat(3, 4fr);
}

header img{
    width: 200px;
    height: 100px;
    /* border-radius: 50%; */
}
header{
    display: flex;
    /* padding: 20px; */
    width: 100vw;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    background-color: aqua;
    margin-bottom: 100px;
    position: fixed;
    top: 10px;
    z-index: 999;
}
.header{
    text-align: center;    
    background-color: red;
}