body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: grab;
    padding: 0;
    margin: 0;
}
header{
    background-color: navy;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    position: fixed;
    z-index: 9999;
    top: 0px;
    width: 1000px;
    padding: 10px;
    font-family: sans-serif;
    height: 40px;
    border-bottom: 1px solid white;
}
nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.name{
    margin-top: 100px;
    animation: name 3s infinite alternate linear;
}
@keyframes name{
    0%{
        translate: 0px;
    }
    50%{
        translate: 100px;
    }
    100%{
        translate: 0px;
    }
}
.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: navy;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    width: 800px;
    padding: 10px;
}
.hi{
    background-color: white;
    text-align: center;
    color: navy;
    padding: 2%;
    font-weight: bold;
    align-self: center;
    justify-self: center;
    width: 380px;
    margin-top: 70px;
    box-shadow: 0 0 5px #fff;
}
.image{
    padding-left: 30px;
    padding-bottom: 0px;
    padding-right: 30px;
}
.main h3{
    text-align: center;
    color: white;
    letter-spacing: 2px;
}
.about{
    background-color: white;
    width: 380px;
    color: navy;
    text-align: center;
    font-weight: 800;
    box-shadow: 0 0 5px #fff;
}
.self{
    color: white;
    letter-spacing: 3px;
}
.main a{
    color: white;
    text-decoration: none;
}
.what{
    position: fixed;
    z-index: 99999;
    top: 80%;
    margin-left: 90%;
}
.what img{
    border-radius: 50%;
    object-fit: cover;
}
.serve{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
}
.service{
    background-color: navy;
    margin: 20px;
    width: 900px;
    padding-left: 50px;
    padding-right: 50px;
    height: 500px;
    animation: server 5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
@keyframes server{
    from{
        opacity: 0;
        scale: 0.8;
    }
    to{
        opacity: 1;
        scale: 1,2;
    }
}
.service h2{
    text-align: center;
    color: white;
}
.end{
    background-color: white;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 0 5px #fff;
}
.end:hover{
    transform: scale(0.9);
}
.serve h4{
    text-align: center;
    text-decoration: underline;
    color: navy;
}
hr{
    height: 3px;
    background-color: navy;
    width: 1000px;
}
.form{
    display: flex;
    align-items: center;
    justify-content: space-between;
     animation: server 5s linear;
     animation-timeline: view();
     animation-range: entry 0% cover 30%;
}
.formname{
    width: 500px;
    margin-right: 100px;
}
.form h3{
    text-align:left;
    color: navy;
    font-size: 30px;
}
.formtype{
    background-color: navy;
    width: 400px;
    height: 450px;
    padding-left: 50px;
    font-size: 25px;
    padding-top: 50px;
    color: white;
    font-weight: bold;
}
input{
    width: 350px;
    height: 30px;
    border-radius: 10px;
}
.area{
    width: 350px;
    height: 30px;
    border-radius: 10px;
}
.sub{
    width: 150px;
    align-self:center ;
    justify-self: center;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    height: 50px;
    color: navy;
    margin-left: 80px;
}
.formp{
    font-size: 45px;
    width: 300px;
    height: 650px;
    background-color: navy;
    color: white;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: navy;
    width: 1000px;
    color: white;
    position: static;
    bottom: 0;
    padding: 20px;
}
footer img{
    border-radius: 50%;
    object-fit: cover;
    padding: 10px;
}
@media (max-width: 700px) {
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 95%;
        font-size: 10px;
    }
    .name{
        font-size: 25px;
    }
    .main{
        display: flex;
        flex-direction: column;
        width: 85%;
        font-size: 15px;
    }
    .hi{
        width: 350px;
        letter-spacing: 3px;
    }
    .about{
        width: 350px;
    }
    .self{
        letter-spacing: 1px;
        font-size: 12px;
    }
    .what{
        top: 80%;
        margin-left: 80%;
    }
    .what img{
        width: 30px;
        height: 30px;
    }
    .serve{
        display: flex;
        flex-direction: column;
    }
    .service{
        width: 85%;
        padding: 10px;
        margin: 10px;
        height: 1000px;
    }
    .service h2{
        font-size: 20px;
    }
    .end{
        width: 300px;
        align-self: center;
    }
    hr{
        width: 100%;
    }
    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .formname{
        width: 85%;
        text-align: center;
        margin: 0;
    }
    .form h3{
        font-size: 30px;
    }
    .formtype{
        width: 60%;
        padding: 10px;
        font-size: 15px;
        font-weight: 100;
        height: 300px;
        text-align: left;
        margin-bottom: 50px;
    }
    input{
        width: 200px;
        height: 20px;
    }
    .area{
        width: 200px;
    }
    .sub{
        width: 100px;
        font-size: 15px;
        height: 40px;
        text-align: center;
        margin-right: 70px;
    }
    .formp{
        margin-left: 0;
        font-size: 20px;
        width: 300px;
        height: 150px;
        margin-right: 80px;
        margin-bottom: 50px;
    }
    footer{
        width: 500px;
        display: flex;
        flex-direction:column ;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        font-size: 15px;
    }
    footer img{
        width: 30px !important;
        height: 30px !important;
        padding: 5px;
    }
}