h1{
    font-size: 40px;
    font-weight: 700;
    font-style: normal;
    background-color: chartreuse;
    margin: 20px;
    /* padding: 20px; */
    /* width: min-content; */
    width:max-content;
    width: 30vw;
    height: 30vh;

}body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner_body{
    width: 70vw;
    background-color: red;
}
*{
    margin: 0;
    padding: 0;
}
/* p{
    width: max-content;
} */
.form{
    /* margin: 20px 20px 80px 90px; */
    /* padding-top: 30px; */
    /* display: flex; */
    /* flex-direction: row-reverse; */
    /* display: grid; */
    /* grid-template-columns: repeat(2, 1fr); */
    /* display: inline; */
    /* display: block; */
    
    position: fixed;
    top: 20%;
    left: 70%;
 
    background-color: aqua;
    
    
}
p{
    margin: 0;
    padding: 0;
}
.form{
    margin: 20px 20px 80px 20px;
    display: none;
}
details{
    position: fixed;
    top: 0;
    width: inherit;
    z-index: 9999;
    background-color: aqua;
    width: 220px;
    height: 200px;
    border: 1px solid black;
    transition: all .1s ease;
}
summary{
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #dadada;
    color: black;
    text-align: right;
    list-style: none;
    padding: 10px;
    cursor: pointer;
}
details:not([open]){
    height: 40px;
}
ul{
    display: flex;
    list-style-type: none;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    color: black;
}                                                                                                                                                                                                                                                                                                                                   