body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    background-color:midnightblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    position: fixed;
    top: 0px;
    height: 80px;
    border-bottom: 1px solid white;
    width: 800px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 999;
}
nav a{
    color: white;
    text-decoration: none;
}
.name{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 30px;
    animation: shift 5s infinite ease-in-out;
}
@keyframes shift {
    0%{
        translate: -30px 0px;
    }
    25%{
        translate: 10px 0px;
    }
    50%{
        translate: 50px 0px;
    }
    75%{
        translate: -10px 0px;
    }
    100%{
        translate: -30px 0;
    }
}
@keyframes server {
  from {
    opacity: 0;
    scale: 0.7;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
*{
    cursor: grab;
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
    align-self: center;
    justify-self: center;
    background-color: midnightblue;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 0;
    padding: 20px;
    height: 650px !important;
    width: 60%;
}
.image{
    padding-top: 70px;
    padding-left: 30px;
    padding-bottom: 70px;
    padding-right: 30px;
    transition: 1s ease-in;
}   
.image:hover{
    /* translate:50px 30px ; */
    transform:translate(-50px, -30px);
}
.hi{
    background-color: white;
    padding: 2%;
    color: mediumblue;
    font-weight: bold;
    width: 50%;
    margin: 0;
    align-self: center;
    justify-self: center;
    text-align: center;
    padding: 10px;
    margin-top: 70px;
}
.main h3{
    text-align: center;
    color: white;
    letter-spacing: 3px;
    padding: 10px;
}
.about{
    background-color: white;
    padding: 2%;
    color: mediumblue;
    width: 50%;
    align-self: center;
    justify-self: center;
    padding: 10px;
}
.self{
    text-align: center;
    color: white;
    padding: 2%;
    letter-spacing: 5px;
    padding: 10px;
}
.main a{
    color: white;
    text-decoration: none;
}
.what{
    position: fixed;
    top: 80%;
    margin-left: 80%;
    /* border-radius: 500px; */
}
.what img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.serve{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    margin-bottom: 20px;
}
.service{
    background-color: midnightblue;
    margin: 20px;
    align-self: center;
    justify-self: center;
    padding: 20px;
    height: 400px;
    width: 80%;
    animation: server 5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
.service h2{
    text-align: center;
    color: white;
    padding: 20px;
}
.end{
    background-color: white;
    padding: 20px;
    margin: 20px;
}
.serve h4{
    text-align: center;
    text-decoration:underline;
    padding: 10px;
}
hr{
    background-color: midnightblue;
    height: 4px;
}
.form{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form p{
    background-color: midnightblue;
    color: white;
    font-weight: bold;
    align-self: center;
    justify-self: center;
    text-align: center;
}
.form h3{
    text-align: center;
    color: midnightblue;
    align-self: center;
    justify-self: center;
    margin: o;
    padding: o;
    letter-spacing: 2px;
}
.input{
    background-color: midnightblue;
    align-self: center;
    justify-self: center;
    color: white;
    width: 50%;
    padding: 10px;
    text-align:start;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: midnightblue;
    height: 40px;
    margin-top: 10px;
}
footer img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}